@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.header {
  height: 120px;
  background-color: #2563eb;
  border-bottom: 5px solid black;
}

.heading-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-container h1 {
  font-size: 4.5rem;
  color: #e0f2fe;
}

.main {
  min-height: 90vh;
  background-color: #cbd5e1;
}

.container {
  width: 50%;
  max-width: 800px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.turn {
  font-size: 3rem;
  font-weight: 400;
}

.gameboard {
  height: 480px;
  width: 480px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #e4e4e7;
}

.square {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
}

.square:hover {
  cursor: pointer;
  background-color: #e0f2fe;
}

.restart {
  margin-top: 20px;
  background-color: #2563eb;
  color: #e0f2fe;
  padding: 0.3em 0.8em;
  outline: none;
  border-radius: 8px;
  border: 3px solid black;
  font-size: 2.5rem;
}

.restart:hover {
  cursor: pointer;
  background-color: #1d4ed8;
}
